<div *ngFor="let response of alertManagerManager.responseList">
  <div class="alert {{ response.alert }}" role="alert">
    {{ response.message }}
  </div>
</div>

<div class="mb-3 d-flex bd-highlight border-bottom">
  <h3 class="bd-highlight">Change username</h3>
  <h5 *ngIf="alertManagerManager.iconList.includes('username')" class="ms-auto bd-highlight mt-2 mb-0 bi bi-check-lg text-success"></h5>
</div>

<form class="mb-3" [formGroup]="usernameForm" (ngSubmit)="username()">
  <div class="input-group mb-3">
    <span class="input-group-text">New username</span>
    <input type="text" formControlName="username" class="form-control">
    <button type="submit" [disabled]="usernameForm.invalid" class="btn btn-primary">Change username</button>
  </div>
</form>

<h3 class="pb-2 border-bottom">Export account data</h3>

<form class="mb-3">
  <p>Export all data related to you. Exports will be available for 7 days.</p>
  <button type="button" (click)="export()" class="btn btn-sm btn-primary">Start export</button>
</form>

<h3 class="pb-2 border-bottom">Delete account</h3>
<p>Once you delete your account, there is no going back. Please be certain.</p>

<form class="mb-3" [formGroup]="deleteForm" (ngSubmit)="delete()">
  <button type="submit" [disabled]="deleteForm.invalid" class="btn btn-sm btn-danger">Delete account</button>
</form>
