<section class="my-4 container">
  <div *ngFor="let response of alertManagerManager.responseList">
    <div class="alert {{ response.alert }}" role="alert">
      {{ response.message }}
    </div>
  </div>
  <div *ngIf="forgetForm" class="vertical-center">
    <div class="w-100">
      <h2 class="mb-3 text-center">Reset your password</h2>
      <div class="login-center">
        <form [formGroup]="forgetForm" (ngSubmit)="forget()" class="border rounded">
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" formControlName="username" class="form-control">
          </div>
          <!--<div class="mb-3">
            <label class="form-label">Old password</label>
            <input type="password" formControlName="password" class="form-control">
            <p>Enter one of your old password, if you are wrong it does not matter.</p>
          </div>-->
          <div class="d-grid gap-2">
            <button [disabled]="forgetForm.invalid" class="btn btn-sm btn-primary btn-block" type="submit">Reset your password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
