<div class="mb-3 d-flex bd-highlight border-bottom">
  <h3 class="bd-highlight">Users administration</h3>
  <h5 *ngIf="alertManagerManager.iconList.includes('username')" class="ms-auto bd-highlight mt-2 mb-0 bi bi-check-lg text-success"></h5>
</div>

<form class="mb-3" [formGroup]="searchForm" (ngSubmit)="ngAfterViewInit()">
  <div class="input-group">
    <select class="form-select" formControlName="select">
      <option class="dropdown-item" disabled value="undefined">Select an Option</option>
      <option *ngFor="let col of searchColumns; let i = index" [value]="col">{{col}}</option>
    </select>
    <input type="text" class="form-control" formControlName="value" placeholder="Value">
    <button type="submit" [disabled]="searchForm.invalid" class="btn btn-primary">Search</button>
  </div>
</form>

<div class="spinner-container" *ngIf="dataSource.loading$ | async">
  <mat-spinner></mat-spinner>
</div>

<table mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear style="width: 100%;">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
    <td mat-cell *matCellDef="let element">{{element.username}}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
    <td mat-cell *matCellDef="let element">{{element.emailList[0].email}}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
    <td mat-cell *matCellDef="let element">
      <div class="input-group">
        <button class="btn btn-sm btn-outline-primary" (click)="edit(element.id)">Edit</button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="length" [pageSize]="10"
               [pageSizeOptions]="[10, 25, 50]"></mat-paginator>

<div class="mt-3" *ngIf="user">

  <h3 class="">Edit user: {{user.username}}</h3>

  <div class="mb-3 d-flex bd-highlight border-bottom">
    <h3 class="bd-highlight">Roles</h3>
    <h5 *ngIf="alertManagerManager.iconList.includes('role')" class="ms-auto bd-highlight mt-2 mb-0 bi bi-check-lg text-success"></h5>
  </div>

  <form class="mb-3" *ngIf="roleForm" [formGroup]="roleForm">
    <div class="form-check">
      <input class="form-check-input" formControlName="ROLE_OWNER" [value]="'ROLE_OWNER'" type="checkbox" (change)="roleChange('ROLE_OWNER')">
      <label class="form-check-label">Owner</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" formControlName="ROLE_ADMINISTRATOR" [value]="'ROLE_ADMINISTRATOR'" type="checkbox" (change)="roleChange('ROLE_ADMINISTRATOR')">
      <label class="form-check-label">Administrator</label>
    </div>
  </form>

  <div class="mb-3 d-flex bd-highlight border-bottom">
    <h3 class="bd-highlight">Groups</h3>
    <h5 *ngIf="alertManagerManager.iconList.includes('group')" class="ms-auto bd-highlight mt-2 mb-0 bi bi-check-lg text-success"></h5>
  </div>

  <form class="mb-3" *ngIf="groupList && groupForm" [formGroup]="groupForm">
    <div class="form-check" *ngFor="let group of groupList">
      <input class="form-check-input" formControlName="{{'group' + group.id}}" [value]="group.id" type="checkbox" (change)="groupChange(group.id!)">
      <label class="form-check-label"><b [style]="'color:' + group.color + '!important'">{{group.name}}</b></label>
    </div>
  </form>

</div>
