<div *ngFor="let response of alertManagerManager.responseList">
  <div class="alert {{ response.alert }}" role="alert">
    {{ response.message }}
  </div>
</div>

<div class="mb-3 d-flex bd-highlight border-bottom">
  <h3 class="bd-highlight">Theme preferences</h3>
  <h5 *ngIf="alertManagerManager.iconList.includes('theme')" class="ms-auto bd-highlight mt-2 mb-0 bi bi-check-lg text-success"></h5>
</div>

<p>Choose how the application looks to you.</p>

<form class="mb-3" [formGroup]="themeForm" *ngIf="themeList">
  <div class="row">
    <div class="col-lg-4 col-6 mb-3" *ngFor="let th of themeList">
      <label class="form-check-label border rounded-2 zoom" style="cursor: pointer;{{th.id === value ? 'border-color: #0d6efd!important' : ''}}">
        <div class="border-bottom rounded-top" [innerHTML]="th.image"></div>
        <div class="m-2">
          <input class="mt-1 form-check-input" formControlName="id" (click)="theme(th.id)" type="radio" [value]="th.id">
          <span class="ms-2">{{th.name}}</span>
        </div>
      </label>
    </div>
  </div>
</form>
