<div *ngFor="let response of alertManagerManager.responseList">
  <div class="alert {{ response.alert }}" role="alert">
    {{ response.message }}
  </div>
</div>

<div class="mb-3 d-flex bd-highlight border-bottom">
  <h3 class="bd-highlight">Groups</h3>
  <h5 *ngIf="alertManagerManager.iconList.includes('group')" class="ms-auto bd-highlight mt-2 mb-0 bi bi-check-lg text-success"></h5>
</div>

<div *ngIf="groupList && groupList.length > 0 && activeGroupForm; else noData" [formGroup]="activeGroupForm" class="list-group mb-3">
  <div *ngFor="let group of groupList" href="#" class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
      <b [style]="'color:' + group.color + '!important'">{{group.name}}</b>
      <div class="form-check d-inline">
        <input class="form-check-input" formControlName="{{'group' + group.id}}" [value]="group.active" type="checkbox" (change)="activeGroup(group.id!)">
        <label class="form-check-label">Active group</label>
      </div>
    </div>
  </div>
</div>
<ng-template #noData>
  <div class="card mb-3">
    <div class="card-body">
      <h4 class="m-0 text-center">No groups</h4>
    </div>
  </div>
</ng-template>

<div class="mb-3 d-flex bd-highlight">
  <p class="m-0">Add group</p>
  <i *ngIf="alertManagerManager.iconList.includes('addGroup')" class="ms-auto bd-highlight mb-0 bi bi-check-lg text-success"></i>
</div>

<form class="mb-3" *ngIf="addGroupForm" [formGroup]="addGroupForm" (ngSubmit)="addGroup()">
  <div class="input-group">
    <span class="input-group-text">Name</span>
    <input type="text" formControlName="name" class="form-control">
    <input type="color" class="form-control form-control-color" formControlName="color" value="#0d6efd" title="Choose your color">
    <button type="submit" [disabled]="addGroupForm.invalid" class="btn btn-primary">Add group</button>
  </div>
</form>
