<div *ngFor="let response of alertManagerManager.responseList">
  <div class="alert {{ response.alert }}" role="alert">
    {{ response.message }}
  </div>
</div>

<div class="mb-3 d-flex bd-highlight border-bottom">
  <h3 class="bd-highlight">Themes</h3>
  <h5 *ngIf="alertManagerManager.iconList.includes('theme')" class="ms-auto bd-highlight mt-2 mb-0 bi bi-check-lg text-success"></h5>
</div>

<div *ngIf="themeList && themeList.length > 0 && activeThemeForm; else noData" [formGroup]="activeThemeForm" class="list-group mb-3">
  <div *ngFor="let theme of themeList" href="#" class="list-group-item p-0 pe-3">
    <div class="d-flex w-100 justify-content-between">
      <div class="border-end">
        <img [src]="'http://localhost:8080/api/v1/image/' + theme.image" style="max-height: 200px" class="img-fluid border-bottom" alt="{{theme.name}}">
        <p class="ps-2 m-1 text-center">{{theme.name}}</p>
      </div>
      <div class="form-check pt-2 d-inline">
        <input class="form-check-input" formControlName="{{'theme' + theme.id}}" [value]="theme.active" type="checkbox" (change)="activeTheme(theme.id!)">
        <label class="form-check-label">Active theme</label>
      </div>
    </div>
  </div>
</div>
<ng-template #noData>
  <div class="card mb-3">
    <div class="card-body">
      <h4 class="m-0 text-center">No themes</h4>
    </div>
  </div>
</ng-template>

<div class="mb-3 d-flex bd-highlight">
  <p class="m-0">Add Themes</p>
  <i *ngIf="alertManagerManager.iconList.includes('addTheme')" class="ms-auto bd-highlight mb-0 bi bi-check-lg text-success"></i>
</div>

<form class="mb-3" *ngIf="addThemeForm" [formGroup]="addThemeForm" (ngSubmit)="addTheme()">
  <div class="input-group mb-3">
    <span class="input-group-text">Name</span>
    <input type="text" formControlName="name" class="form-control">
    <input class="form-control" formControlName="fileSource" (change)="onFileChange($event)" type="file">
  </div>
  <div class="color-ish mb-3">
    <div class="input-group">
      <span class="input-group-text">Primary color</span>
      <input type="color" class="form-control form-control-color" formControlName="primaryColor" (change)="preview()" value="#fffff" title="Choose your color">
    </div>
    <div class="input-group">
      <span class="input-group-text">Secondary color</span>
      <input type="color" class="form-control form-control-color" formControlName="secondaryColor" (change)="preview()" value="#fffff" title="Choose your color">
    </div>
    <div class="input-group">
      <span class="input-group-text">Tertiary color</span>
      <input type="color" class="form-control form-control-color" formControlName="tertiaryColor" (change)="preview()" value="#fffff" title="Choose your color">
    </div>
    <div class="input-group">
      <span class="input-group-text">Quaternary color</span>
      <input type="color" class="form-control form-control-color" formControlName="quaternaryColor" (change)="preview()" value="#fffff" title="Choose your color">
    </div>
    <div class="input-group">
      <span class="input-group-text">Primary text color</span>
      <input type="color" class="form-control form-control-color" formControlName="primaryTextColor" (change)="preview()" value="#fffff" title="Choose your color">
    </div>
    <div class="input-group">
      <span class="input-group-text">Secondary text color</span>
      <input type="color" class="form-control form-control-color" formControlName="secondaryTextColor" (change)="preview()" value="#fffff" title="Choose your color">
    </div>
  </div>
  <img *ngIf="trustedUrl" [src]="trustedUrl" class="mb-3" height="150" alt="">
  <br *ngIf="trustedUrl">
  <button type="submit" [disabled]="addThemeForm.invalid" class="btn btn-sm btn-primary">Add theme</button>
</form>
