/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.5;
}

.display-7 {
  font-size: calc(0.9rem + 1.5vw);
  font-weight: 300;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 350;
}

.pagination .page-item span,
.form-check .form-check-label,
.form-check .form-check-input {
  cursor: pointer!important;
}

.form-control::-webkit-file-upload-button{
  -webkit-transition:color 0s ease-in-out,background-color 0s ease-in-out,border-color 0s ease-in-out,box-shadow 0s ease-in-out;
  transition:color 0s ease-in-out,background-color 0s ease-in-out,border-color 0s ease-in-out,box-shadow 0s ease-in-out
}

.zoom {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
  -moz-transition:0.2s ease all;
}

.zoom:hover {
  -moz-transform: scale(1.025);
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}

.color-ish .input-group span {
  min-width: 200px;
}

.color-ish .input-group .input-group-text,
.color-ish .input-group .form-control-color {
  border-radius: 0;
}

.color-ish .input-group:not(:last-child) .input-group-text,
.color-ish .input-group:not(:last-child) .form-control-color {
  border-bottom: 0;
}

.color-ish .input-group:last-child .input-group-text {
  border-bottom-left-radius: .25rem;
}

.color-ish .input-group:first-child .input-group-text {
  border-top-left-radius: .25rem;
}

.color-ish .input-group:last-child .form-control-color {
  border-bottom-right-radius: .25rem;
}

.color-ish .input-group:first-child .form-control-color {
  border-top-right-radius: .25rem;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
