<div *ngFor="let response of alertManagerManager.responseList">
  <div class="alert {{ response.alert }}" role="alert">
    {{ response.message }}
  </div>
</div>

<div class="mb-3 d-flex bd-highlight border-bottom">
  <h3 class="bd-highlight">Public profile</h3>
  <h5 *ngIf="alertManagerManager.iconList.includes('profile')" class="ms-auto bd-highlight mt-2 mb-0 bi bi-check-lg text-success"></h5>
</div>

<form class="mb-3" [formGroup]="profileForm" (ngSubmit)="profile()">
  <div class="mb-3">
    <label class="form-label">Profile picture</label><br>
    <img *ngIf="!trustedUrl && user.profileImage" [src]="'http://localhost:8080/api/v1/image/' + user.profileImage" class="mb-2 rounded-circle" height="100" width="100" style="object-fit: cover;" alt="">
    <img *ngIf="trustedUrl" [src]="trustedUrl" class="mb-2 rounded-circle" height="100" width="100" style="object-fit: cover;" alt="">
    <input class="form-control" formControlName="fileSource" (change)="onFileChange($event)" type="file">
  </div>
  <div class="row g-3 mb-3">
    <div class="col">
      <label class="form-label">First name</label>
      <input type="text" formControlName="firstName" class="form-control">
    </div>
    <div class="col">
      <label class="form-label">Middle name</label>
      <input type="text" formControlName="middleName" class="form-control">
    </div>
    <div class="col">
      <label class="form-label">Last name</label>
      <input type="text" formControlName="lastName" class="form-control">
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Bio</label>
    <textarea class="form-control" formControlName="biography" rows="3"></textarea>
  </div>
  <div class="mb-3">
    <label class="form-label">URL</label>
    <input type="text" formControlName="url" class="form-control">
  </div>
  <p class="text-muted">All of the fields on this page are optional and can be deleted at any time, and by filling them out, you're giving us consent to share this data wherever your user profile appears. Please see our privacy statement to learn more about how we use this information.</p>
  <button type="submit" [disabled]="profileForm.invalid" class="btn btn-sm btn-primary">Update profile</button>
</form>

<div class="mb-3 d-flex bd-highlight border-bottom">
  <h3 class="bd-highlight">Profile privacy</h3>
  <h5 *ngIf="alertManagerManager.iconList.includes('privacy')" class="ms-auto bd-highlight mt-2 mb-0 bi bi-check-lg text-success"></h5>
</div>

<form class="mb-3" [formGroup]="privacyForm" *ngIf="privacyForm">
  <div class="form-check">
    <label class="form-check-label">
      <span>Public</span>
      <input class="form-check-input" formControlName="privacy" [value]="'PUBLIC'" (click)="privacy('PUBLIC')" type="radio" >
    </label>
    <p class="text-muted">Everyone can see your profile.</p>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <span>Private</span>
      <input class="form-check-input" formControlName="privacy" [value]="'PRIVATE'" (click)="privacy('PRIVATE')" type="radio">
    </label>
    <p class="text-muted">No one can see your profile.</p>
  </div>
</form>
